<%- include ../partials/header.ejs %>

<main class="container">
  
    
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Register</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="from-control"
                    name= "username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>
    
                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="from-control"
                    name= "password" placeholder="Enter password"
                    id="password" required>
                </fieldset>
    
                <fieldset class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="from-control"
                    name= "email" placeholder="Enter Email"
                    id="email" required>
                </fieldset>
                
                <fieldset class="form-group">
                    <label for="displayName">Displayname: </label>
                    <input type="displayName" class="from-control"
                    name= "displayName" placeholder="Enter Display Name"
                    id="displayName" required>
                </fieldset>
                
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/">
                        <input type="buttion" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
    
    
    </main>
<% include ../partials/footer.ejs %>