<!-- COMP229 - Fall 2021 - - Sec 09
Group - 13
WEbExpert -->

<footer>
    <!-- <nav class="navbar fixed-bottom navbar-dark bg-dark"> -->
        <nav class="navbar fixed-bottom navbar-dark bg-primary">
        <h6 class="display-10 navbar-text">&copy; Copyright 2021 Web Experts - COMP229-009 Group Project</h6>
    </nav>
</footer>
<script src="/jquery/dist/jquery.slim.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>