<% include partials/header.ejs %>

    <div class="container">
        <h1>Welcome to <%= title %></h1>
        <div class="row">
        <div class="btn btn-primary">
            <a href="/surveys/add"><span style="color:white">New Survey</span></a>
        </div>
        <hr>
        <div class="Container text-center">
            <br/>
            <hr/>
            <br/>
            <h4>Recommanded Surveys</h4>
        </div>
        <% include surveys/in_list.ejs %>
    </div>
    </div>

<% include partials/footer.ejs %>