body {
  padding-bottom: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.Btn{
  padding: 5px;
  color: white;
  border-radius: 10px;
  text-align: center;
}