<% include ../partials/header.ejs %>



<div class="container">
    <h1 class="display-1"><%= title %></h1>
    <div class="row">  
        <div class="btn btn-primary">
            <a href="/surveys/add"><span style="color:white">New Survey</span></a>
        </div>

        <% include ./in_list.ejs %>

    </div>
</div>

<% include ../partials/footer.ejs %>