<div *ngIf="survey !== undefined" class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="form-group">
                <h2>Survey Title: {{ survey.Title }}</h2>
            </div>
            <br />
            <br />
            <div class="form-group" *ngFor="let choices of survey.Choices; let i = index">
                <h5>Q: {{ survey.Questions![i] }} </h5>
                <br />
                <div class="container" *ngFor="let choice of choices; let j = index">
                    <div class="form-group">
                        <input type="radio" id="choice{{ i }}{{ j }}" name="choice{{ i }}" value="{{ j }}">
                        <label for="choice{{ i }}{{ j }}">
                            {{ choice }}
                        </label>
                    </div>
                    <br />
                </div>
                <br />
            </div>
            <a routerLink="/surveys/list" class="btn btn-primary">
                Submit
            </a>
            &nbsp;
            <a routerLink="/surveys/list" class="btn btn-warning">
                Back to List
            </a>
        </div>
    </div>
</div>